<div class="jumbotron jumbotron-fluid mb-0">
  <div class="container">
    <h1 class="display-4">Scrape. Save. Read.</h1>
    <p class="lead">News articles from the Choice City.</p>
  </div>
</div>

<div class="container" id="saved-articles">
  <div class=row>
    <div class="col-12">

      {{#each article}}
      {{#if isFavorite}}
      <div class="card">
        <div class="card-header text-white bg-primary">
          <a href={{link}} target="_blank" class="text-white">
            <h2>{{title}}</h2>
          </a>
        </div>
        <div class="card-body">
          <p>{{summary}}</p>
          <button id="article-notes" data-id="{{_id}}" class="btn btn-info">Article Notes</button>
          <button data-id="{{_id}}" id="delete-saved" class="btn btn-danger delete-saved">Remove From Saved</button>
        </div>
      </div>
      {{/if}}
      {{/each}}
    </div>
  </div>
</div>

<div class="modal" id="note-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Article Notes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <ul class="list-group saved-notes">
            <!--Add Notes Here as <li> elements-->
          </ul>
        </div>

        <form>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">New Note:</label>
            <textarea class="form-control" id="note-body" rows="3"></textarea>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="save-note" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>